Generic OIDC breaks RFC6749: Section 2.3

### Describe the bug
I set up Writefreely to use OIDC with Authelia. This does not work without extra steps since i get an error:

`Access Request failed with error: The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed. Client Authentication failed with more than one known authentication method included in the request which is not permitted. The registered client with id 'blog.simonszu.de' and the authorization server policy does not permit this malformed request. The `token_endpoint_auth_method` methods determined to be used were 'client_secret_basic', 'client_secret_post'." method=POST path=/api/oidc/token remote_ip=172.19.1.32 stack="github.com/authelia/authelia/v4/internal/handlers/handler_oidc_token.go:25`

### Steps to reproduce (if necessary)
Steps to reproduce the behavior:
1. Configure the oauth.general section to connect Writefreely to Authelia
2. Try to associate the existing user with an Authelia user
3. Get an error in the WebUI, and the above log message in the logs

### Expected behavior
Tokens should be exchanged and the OIDC handshake should succeed

### Application configuration
 - **Single mode or Multi-user mode?** Single
 - **Database?** [mysql/sqlite] MySQL
 - **Open registration?** [yes/no] no
 - **Federation enabled?** [yes/no] yes

**Version or last commit**: 0.15.1

### Workaround
After some research i found this setting: https://www.authelia.com/configuration/identity-providers/openid-connect/clients/#allow_multiple_auth_methods - which, when enabled, makes everything work. So, in accordance to the Authelia documentation and in regards of the necessity to enable this setting, i raise this issue to double-check the authentication methods which WF signals to the OIDC provider, since apparently Authelia has the strong opinion that WF is currently violating RFC6749 Section 2.3.


Thanks for reporting this! It'd be great to fix whatever we need to fully match the spec. Anyone more familiar with all of this should please feel free to take this on.